In [1]:
import pandas as pd
# Data Frame erstellen
data = {'Firma':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [2]:
df=pd.DataFrame(data)
df

  Firma   Person  Sales
0  GOOG      Sam    200
1  GOOG  Charlie    120
2  MSFT      Amy    340
3  MSFT  Vanessa    124
4    FB     Carl    243
5    FB    Sarah    350

In [7]:
df.groupby("Firma").mean()

       Sales
Firma
FB     296.5
GOOG   160.0
MSFT   232.0

In [6]:
nach_firma = df.groupby("Firma")
nach_firma

In [7]:
nach_firma.mean()

       Sales
Firma
FB     296.5
GOOG   160.0
MSFT   232.0

In [8]:
nach_firma.std()

            Sales
Firma
FB      75.660426
GOOG    56.568542
MSFT   152.735065

In [11]:
nach_firma.count()

       Person  Sales
Firma
FB          2      2
GOOG        2      2
MSFT        2      2

In [17]:
nach_firma.describe().transpose()["GOOG"]

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64